* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1em ;
    margin: 1em  ;
    overflow-x: hidden;
}
.flex-container{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}
.nav{
    display: flex;
}
ul{
    list-style-type: none;
}
ul li{
    padding: 10px;
}
a{
    color:#3A4151;
    font-weight: bold;
}
/*
#btn{
    position: absolute;
    top: 2%;
    left: 95%;
    white-space: nowrap;
    margin:5px ;
    float: right;
    z-index: 1;
}
*/

button{
    border-radius: 40px;
    padding: 10px;
    background-color: #FB5253;
    color: white;
    border:none;
}
/*
#circles{
    width: 50%;
    height: 50%;
    float: right;
    bottom: 50%;
    transform: translate(60%,-50%);
    
}
*/

.pictures > img {
    width: 200%;
    height: 150%;
    position: relative;
    transform: translate(2%, -40%);
    
}
.firstDiv{
    padding: 1em;
    float: left;
    width: 50%;
    background-color: yellow;
}
.firstDiv p {
    padding:10px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.pictures{
    float: left;
    width: 50%;
    height: 445px;
    background-color: powderblue;
}

input{
    border-radius: 40px;
    border:none;
    height:30px;
    width: 180px;
    margin: 10px;
    padding: 10px;
    margin-bottom:20px;
}

    
.grid_container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 80px 80px 80px; 
    align-content: space-evenly;
    grid-gap: 15px 10px;
    padding: 10px;
    grid-gap: 2% 25%;
}
.grid_container > img{
    width: 100%;
    height: 50px;
    margin: 5px;
    text-align: center;
    line-height: 65px;
    font-size: 30px;
    align-items: center;
}
.footer{
    text-align: center;
}
.footer h3{
    margin-top: 3rem;
    margin-bottom: 2px;
}
.footer p {
    margin-bottom: 10px;
}
#leftClass{
    float:left;
    width: 20%;
    background-color: aquamarine;
}
#leftClass img{
    width: 30%;
    position: relative;
    transform: translate(-120%, -10%);
}
#middleClass{
    float:left;
    width:50%;
    background-color: burlywood;
}
#rightClass{
    float:left;
    width: 30%;
    background-color: purple;
}
#rightClass img{
    width: 100%;
    height: 200%;
    position: relative;
    transform: translate(50%,-40%);
    z-index: -1;
}
.centerImg{
    width: 10%;
    height: 10%;
    min-width: 70px;
    min-height: 60px;
    max-width: 130px;
    max-height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centerTxt{
    text-align: center;
    /*display: flex;
    flex-direction: column;*/
}

.centerTxt h3{
    padding: 10px;
    
}
h3{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.centerTxt h4{
    padding: 10px;
    margin: 10px;
}
.arrow{
    width: 1.7vw;
    height: 1.7vh;
}
.right{
    float: left;
    width: 55%;
    height: 394px;
    background-color: powderblue;
}

.left{
    padding: 1em;
    float: left;
    width: 45%;
    height: 394px;
    background-color: lightgray;
}
.left img {
    width: 100%;
    height: 200%;
    position: relative;
    transform: translate(35%,-30%);
}
#shape{
    width: 40vw;
    height: 40vh;
    position: relative;
    transform: translate(-50%, -10%);
}

#group{
    z-index:-1;   
}
#top-pic{
    position: absolute;
    left: 5%;
    bottom: 35%;
}
#elipsa{
    position: absolute;
    bottom: 30%;
    left: 7%;
    z-index: -2;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.comment{
    width:25vw;
    height: 40vh;
   
}
 
.column {
    margin: 1em 20px;
}

/*
#secondImg{
    position: relative;
    right:100px;
    top:80px;
}
#thirdImg{
    position: relative;
    bottom: 160px;
    z-index: -2;
    
}
*/

 
 


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{background:lightgrey;}
    h3{
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .row{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
    }
     
    .column {
        margin: 1em 20px;
        text-align: center;
        
    }
    .column img{
        width: 15rem ;
    }
    .pictures{
        display: none;
    }
    #btn{
        display: none;
    }
    .left{
        display: none;
    }
    .right{
        float: left;
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        margin-bottom:10px;
        background-color: powderblue;
    }
    .firstDiv{
        padding: 1em;
        float: left;
        width: 100%;
        background-color: yellow;
        text-align: center;
        vertical-align: middle;   
    }
    .grid_container{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 80px 80px 80px; 
        align-content: space-evenly;
        background-color: lightcoral;
        justify-items: center;
        align-items: center;
        padding: 10px;
        grid-gap: 2% 10%;
    }
    #leftClass,#rightClass{
        display:none;
    }
    #middleClass{
        width:100%;
        background-color: burlywood;
    }
    /*
    #secondImg, #thirdImg{
        position: absolute;
    }
  */
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:767px) {
    body{background: purple;}
    h3{
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .row{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
    }
     
    .column {
        margin: 1em 20px;
        text-align: center;
        
    }
    .column img{
        width: 20rem ;
    }
    .pictures, #btn{
        display: none;
    }
    .left{
        display: none;
    }
    .right{
        float: left;
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        margin-bottom:10px;
        background-color: powderblue;
    }
    .firstDiv{
        padding: 1em;
        float: left;
        width: 100%;
        background-color: yellow;
        text-align: center;
        vertical-align: middle;   
    }
    .center{
        margin: auto;
    }
    .grid_container{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 80px 80px 80px; 
        align-content: space-evenly;
        background-color: lightcoral;
        justify-items: center;
        align-items: center;
        padding: 10px;
        grid-gap: 2% 18%;
    }
    #leftClass,#rightClass{
        display:none;
    }
    #middleClass{
        width:100%;
        background-color: burlywood;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px) {
    body{background: powderblue;}
    #btn{
        position: absolute;
        top: 5%;
        left: 90%;
        white-space: nowrap;
        margin:5px ;
        float: right;
        z-index: 1;
    }
    .firstDiv{
        padding: 1em;
        float: left;
        width: 65%;
        background-color: yellow;
    }
    .pictures{
        float: left;
        width: 35%;
        height: 475px;
        background-color: powderblue;
    }
    
    .grid_container{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 80px 80px 80px; 
        align-content: space-evenly;
        grid-gap: 15px 10px;
        
        padding: 10px;
        grid-gap: 2% 20%;
    }
    .row{
        display: flex;  
    }
    .centerTxt{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    #leftClass img {
        width: 30%;
        position: relative;
        transform: translate(-120%, 20%);
    }
   
} 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (max-width:1199px) {
    body{background: orange;}  
    #btn{
        position: absolute;
        top: 3%;
        left: 91%;
        white-space: nowrap;
        margin:5px ;
        float: right;
        z-index: 1;
    }
    .pictures > img {
        width: 150%;
        height: 150%;
        position: relative;
        transform: translate(15%, -40%);
    }
    .row{
        display: flex;
    }
    .centerTxt{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    body{background: pink;}
    #btn{
        position: absolute;
        top: 3%;
        left: 93%;
        white-space: nowrap;
        margin:5px ;
        float: right;
        z-index: 1;
    }
    .pictures > img {
        width: 100%;
        height: 150%;
        position: relative;
        transform: translate(40%, -40%);
    }   
    .row{
        display: flex;
        
    }
    .centerTxt{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

  
  
  

 
